__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
.idea/
.git/
venv/
venv_new/
vnev/
env/
.env
data/uploads/*
!data/uploads/.gitkeep
data/vector_store/*
!data/vector_store/.gitkeep
data/bm25_store/*
!data/bm25_store/.gitkeep
